<a href="https://colab.research.google.com/github/LavanyaMQuantumThinker/Quantum-/blob/main/Input_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = input()
b= input(

)
print (a +b)

1
2
12

In [ ]:
a= int(input())
b=int (input())

print (a+b)

1
2
3

In [ ]:
name= str(input())
age= (input())
for i in age == int:
  print(i)
else:
  print("Enter Number please")

address = input()
print ("My name is:",name)
print ("My age is:", age)
print("Address is:",address)

lava
rr

TypeError: 'bool' object is not iterable

In [ ]:
##Q3

a= int(input())
b=int(input())
c=int(input())

d=a*b*c
e=a+b+c

print(d/e)

2
2
2
1.3333333333333333

In [ ]:
#Q4

name= input()
score=int(input())


department = input()

print("My name is",name,"My score is",score/10,"/10","My department is ",department)

lava
44
cse
My name is lava My score is 4.4 /10 My department is  cse

In [ ]:
#Q4

name= input()
score=int(input())


department = input()

print("My name is",name)
print("My score is",score/10,"/10")
print("My department is ",department)

lava
99
cse
My name is lava
My score is 9.9 /10
My department is  cse

IF-ELSE

In [ ]:
if(True):
  print("Yes")
else:
  print("No")

Yes

In [ ]:
if(False):
  print("Yes")
else:
  print("No")

No

## Comparision Operator

In [ ]:
print("win"=="win")

True

In [ ]:
rcb = "win"
if rcb=="win":
  print("Ee Sala cup namadhe")
else:
  print("Valakkam pola cup illa")

Ee Sala cup namadhe

In [ ]:
Meghana =input("Meghana died or not:")

if Meghana=="died":
  print("Surya meets Priya")
else:
  print("Surya weds Meghana")

Meghana died or not:not
Surya weds Meghana

In [ ]:
#Q4

mark = int(input("Enter Your Mark:"))

if (mark>=35):
  print("Pass")
else:
  print("Fail")

Enter Your Mark:66
Pass

In [ ]:
#Q5--
#Get input for for variable income. If income is greter than 7000 scholarship is available.Else not eligible for scholarship

#Sample input
#Income:7200
#Sample Output
#"Not Eligible for scholarship"


income=int(input("Enter Your Salary"))
if (income>7000):
  print("scholarship is available")
else:
  print("Not Eligible for scholarship")

Enter Your Salary7200
scholarship is available

In [ ]:
#Get input for variable

AND OR NOT

In [ ]:
#Q6
num=int(input("Enter a number:"))

if (num % 3 == 0 and num % 5==0):
  print("Yes divisible by 3&5")
else :
  print("Not divisible by 3&5")

Enter a number:60
Yes divisible by 3&5

In [ ]:
#Q7 Get input and find odd or even

num = int(input())

if num % 2==0:
  print("It is Even")
else:
  print("It is Odd")

22
It is Even

In [ ]:
#Q 8
score = int(input())

if score<35 :
  print("poor student")
elif score>=70:
  print("Good Student")
else:
  print('Average student')

36
Average student

In [ ]:
#Q 8.1
score = int(input())

if score<35 :
  print("poor student")
elif score>35 and score<70 :
  print(" Average Student")
elif score>70 and score<100:
  print('Good student')
else :
  print("Invalid Number")

120
Invalid Number

In [ ]:
#Q 9 Built Calculator

a = int(input("A:"))
b = int(input("B:"))
calculation = input("add/sub/multiply/divide:")

if calculation.lower() in ["add", "+"] : #User can use terms"add" ,"ADD", "Add","+" (.lower compares value with reference term given for comparison in lowercase(lowercase 'add'== 'add' then compares it with user value) )
  print("Answer:",a+b)
elif calculation.lower() in [ "sub", "-"]:
  print("Answer:",a-b)
elif calculation.lower() in ["multiply","*"]:
  print("Answer:",a*b)
elif calculation.lower() in ["divide","/"]:
  print("Answer:",a/b)
else:
  print("invalid operation")

A:1
B:2
add/sub/multiply/divide:sty
invalid operation

In [ ]:
score = int(input("Score:"))

if score>=70:
  name = input("Name:")
  department = input("Department:")
  location = input("Location:")

  print("You are Eligible")
else:
  print("You are not eligible")

69
You are not eligible

In [ ]:
#
salary = int(input("Salary: "))
age = int(input("Age: "))

if salary >= 20000 or age <= 25:
  loan=int(input("Enter Loan amount:"))
  if loan<=50000:
    print("Eligiblie for Loan")
  else :
    print("Maximum Loan amount is 50000")
else:
  print("Not Eligible for Loan")

Salary: 10000
Age: 40
Not Eligible for Loan

In [ ]:
a = int(input("Eng: "))
b = int(input("Maths:"))
c = int(input("Tamil: "))
d = int(input("Science: "))
e = int(input("Social: "))

avg = (a+b+c+d+e)/5
print("Your Average is: ",avg)

if avg < 35:
  print("Additional class Required")
else:
   print("You are Good to Go")

Eng: 11
Maths:23
Tamil: 45
Science: 22
Social: 55
Your Average is:  31.2
Additional class Required

FOR LOOP

In [ ]:
for i in range (5):
  print(i)

0
1
2
3
4

In [ ]:
for i in "apple":
  print(i)

a
p
p
l
e

In [ ]:
for i in range(1,9):
  print(i)

1
2
3
4
5
6
7
8

In [ ]:
for i in range(2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(1,11):
  print("Lavanya")

Lavanya
Lavanya
Lavanya
Lavanya
Lavanya
Lavanya
Lavanya
Lavanya
Lavanya
Lavanya

In [ ]:
for i in range(1,11):
  print(i,"x 2 =",(i*2))

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [ ]:
n = int(input())

for i in range(0,n):
  print(i*i)

5
0
1
4
9
16

In [ ]:
a = int(input())
b = int(input())

for i in range (a+1,b):
  print (i)

3
8
4
5
6
7

In [ ]:
#print even number between 1-10

for i in range (1,11):
  if i%2==0:
    print(i)

2
4
6
8
10

In [ ]:
#print count even number between 1-10

count=0
for i in range (1,11):
  if i%2==0:
    count=count+1
print(count)

5

In [ ]:
count_even=0
count_odd =0
for i in range(1,11):
  if i%2==0:
    count_even =count_even+1
  else:
    count_odd =count_odd+1
print("Even: ",count_even)
print("Odd: ",count_odd)

Even:  5
Odd:  5

In [ ]:
count=0
for i in range(1,100):
  if i%3==0 and i%5==0:
    count=count+1
print(count)

6

In [ ]:
#sum the first 5 natural numbers
sum=0
for i in range (1,6):
  sum=sum+i
print(sum)

15

In [ ]:
#get input for 10 numbers and find sum &  avg
num = 0
sum = 0
count =0
for i in range(10):
  num=int(input())
  sum=sum+num
  count=count+1
  avg=sum/count

print("Sum: ",sum)
print("Count:",count)
print("Avg:",avg)

1
1
1
1
1
1
1
1
1
1
Sum:  10
Count: 10
Avg: 1.0

In [4]:
#list
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [7]:

#append
a=[]
a.append(10)
a
a.append(20)
print(a)

[10, 20]

In [2]:
a=[]
a.append(2)
a.append(23)
a.append(77)
a.append(32)
b=int(input())
a.append(b)
print(a )

43
[2, 23, 77, 32, 43]

In [7]:
a=[]

for i in range(10):
  b=int(input())
  a.append(b)

print(a)

1
22
33
12
34
4
55
22
22
8
[1, 22, 33, 12, 34, 4, 55, 22, 22, 8]

In [14]:
a=[]
for i in range(10):
  b=int(input("Enter num"+str(i+1)))
  a.append(b)
print(a)

Enter num155
Enter num278
Enter num377
Enter num433
Enter num577
Enter num687
Enter num735
Enter num899
Enter num966
Enter num1077
[55, 78, 77, 33, 77, 87, 35, 99, 66, 77]

In [22]:
a=[]
sum=0
count=0
for i in range(10):
  b=int(input("Enter num "+str(i+1)))
  a.append(b)
  sum=sum+i
  count=count+1

print("SUM:",sum)
print ("COUNT:",count)
avg=sum/count
print ("Avg:",avg)

Enter num 14
Enter num 24
Enter num 33
Enter num 44
Enter num 53
Enter num 63
Enter num 74
Enter num 83
Enter num 93
Enter num 104
SUM: 45
COUNT: 10
Avg: 4.5

In [ ]:
year =int(input("Enter Year: "))

if year//4 and year//400:
  #print("It is Leap Year")
  if year//100:
    print ("Not a Leap Year")
else :
  print("Not a Leap Yea")

Enter Year: 2000
Not a Leap Year